@import "bourbon/bourbon"

#players-container
  @include size(400px auto)

#player-list
  @include size(210px auto)
  @include column-count(2)
  @include size(200px auto)

.player
  @include border-color(lightblue)
  @include border-top-radius(5px)
  @include border-bottom-radius(5px)
  @include border-style(solid)
  @include padding(5px)
  @include margin(null null 5px null)
  @include size(70px auto)
  text-align: center

.player.active:hover
  @include border-color(#c4eebb)
  @include border-color(#E3F8DF)
  cursor: pointer

.player.inActive
  @include border-color(#eee)
  color: #ccc

.player.inActive:hover
  @include border-color(#666)
  @include background(#e5ffe5)
  color: #000
  cursor: pointer

.PlayerProfile
  @include size(185px 150px)
  @include position(absolute, 75px null null 10px)
  @include background(#fff)

.PlayerProfile.hide
  @include position(absolute, -2000px null null 10px)

.PlayerProfile.show
  @include border-color(black)
  @include border-style(solid)
  @include border-width(thin)

.PlayerProfile.show .title,
.PlayerProfile.show .content
  @include padding(5px)
  @include border-color(#777)
  @include border-style(solid null null null)
  @include border-width(thin)

.PlayerProfile.show .title
  float: left
  text-align: right
  @include size(40% auto)

.PlayerProfile.show .content
  text-align: left

// slider styles
.switch
  @include position(relative, null)
  @include size(40px 22px)
  display: inline-block

.switch input
  display: none

.slider
  @include position(absolute, 0)
  @include background(#B6B9B6)
  @include transition(all .4s)
  cursor: pointer

.slider:before
  @include position(absolute, 2px 4px null 2px)
  @include size(15px)
  @include background(#fff)
  @include transition(all .4s)
  content: ""

.slider.round
  @include border-top-radius(5px)
  @include border-right-radius(5px)
  @include border-bottom-radius(5px)
  @include border-left-radius(5px)
  @include border-color(#666)
  @include border-style(solid)
  @include border-width(thin)

.slider.round:before
  @include button(simple, #e5e5e5)
  @include border-top-radius(5px)
  @include border-right-radius(5px)
  @include border-bottom-radius(5px)
  @include border-left-radius(5px)
  @include border-color(#666)
  @include border-style(solid)
  @include border-width(thin)
  @include padding(0)


input:checked + .slider
  @include background(#E0FFE0)

input:focus + .slider
  box-shadow: 0 0 1px #E0FFE0

input:checked + .slider:before
  @include transform(translateX(17px))

input:focus + .slider
  box-shadow: 0 0 1px #E0FFE0

.PlayerProfile.show #player-profile-top
  font-size: 16px
  font-weight: bold
  text-align: center
  color: #fff
  @include background(#999)
  @include padding(5px null null null)
  @include size(auto 25px)

.PlayerProfile.show #player-profile-middle

.PlayerProfile.show #player-profile-bottom
  text-align: center
  @include padding(10px null null null)

.PlayerProfile.show #buttonClose
  text-align: center
  @include button(simple, #BA0000)
  @include size(100px auto)
  @include margin(0 auto)

.PlayerProfile.show #buttonClose:hover
  cursor: pointer

@media only screen and (min-width: 480px)
  #player-list
    @include size(400px auto)
    @include column-count(4)
  .PlayerProfile
    @include size(390px 150px)
  .PlayerProfile.show .title
    @include size(50% auto)
