#players-container {
  height: auto;
  width: 400px; }

#player-list {
  height: auto;
  width: 210px;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  height: auto;
  width: 200px; }

.player {
  border-color: lightblue;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-style: solid;
  padding: 5px;
  margin-bottom: 5px;
  height: auto;
  width: 70px;
  text-align: center; }

.player.active:hover {
  border-color: #c4eebb;
  border-color: #E3F8DF;
  cursor: pointer; }

.player.inActive {
  border-color: #eee;
  color: #ccc; }

.player.inActive:hover {
  border-color: #666;
  background: #e5ffe5;
  background: #e5ffe5;
  color: #000;
  cursor: pointer; }

.PlayerProfile {
  height: 150px;
  width: 185px;
  position: absolute;
  top: 75px;
  left: 10px;
  background: #fff;
  background: #fff; }

.PlayerProfile.hide {
  position: absolute;
  top: -2000px;
  left: 10px; }

.PlayerProfile.show {
  border-color: black;
  border-style: solid;
  border-width: thin; }

.PlayerProfile.show .title,
.PlayerProfile.show .content {
  padding: 5px;
  border-color: #777;
  border-top-style: solid;
  border-width: thin; }

.PlayerProfile.show .title {
  float: left;
  text-align: right;
  height: auto;
  width: 40%; }

.PlayerProfile.show .content {
  text-align: left; }

.switch {
  position: relative;
  height: 22px;
  width: 40px;
  display: inline-block; }

.switch input {
  display: none; }

.slider {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #B6B9B6;
  background: #B6B9B6;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer; }

.slider:before {
  position: absolute;
  top: 2px;
  right: 4px;
  left: 2px;
  height: 15px;
  width: 15px;
  background: #fff;
  background: #fff;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  content: ""; }

.slider.round {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-color: #666;
  border-style: solid;
  border-width: thin; }

.slider.round:before {
  border: 1px solid #c1c1c1;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 white;
  color: #333333;
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  background-color: #e5e5e5;
  background-image: -webkit-linear-gradient(#e5e5e5, #c9c9c9);
  background-image: linear-gradient(#e5e5e5, #c9c9c9);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #efefef;
  background-clip: padding-box;
  border: 1px solid #c7bcbc;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 white;
  color: #333333;
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  background-color: #e5e5e5;
  background-image: -webkit-linear-gradient(#e5e5e5, #cec4c4);
  background-image: linear-gradient(#e5e5e5, #cec4c4);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #f1eeee;
  background-clip: padding-box;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-color: #666;
  border-style: solid;
  border-width: thin;
  padding: 0; }
  .slider.round:before:hover:not(:disabled) {
    background-color: #d8d8d8;
    background-image: -webkit-linear-gradient(#d8d8d8, #c1c1c1);
    background-image: linear-gradient(#d8d8d8, #c1c1c1);
    box-shadow: inset 0 1px 0 0 #f2f2f2;
    cursor: pointer; }
  .slider.round:before:active:not(:disabled), .slider.round:before:focus:not(:disabled) {
    border: 1px solid #c1c1c1;
    box-shadow: inset 0 0 8px 4px #bababa, inset 0 0 8px 4px #bababa; }
  .slider.round:before:hover:not(:disabled) {
    background-color: #d8d8d8;
    background-image: -webkit-linear-gradient(#d8d8d8, #c6bcbc);
    background-image: linear-gradient(#d8d8d8, #c6bcbc);
    box-shadow: inset 0 1px 0 0 #f2f2f2;
    cursor: pointer; }
  .slider.round:before:active:not(:disabled), .slider.round:before:focus:not(:disabled) {
    border: 1px solid #c7bcbc;
    box-shadow: inset 0 0 8px 4px #bfb5b5, inset 0 0 8px 4px #bfb5b5; }
  .slider.round:before:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

input:checked + .slider {
  background: #E0FFE0;
  background: #E0FFE0; }

input:focus + .slider {
  box-shadow: 0 0 1px #E0FFE0; }

input:checked + .slider:before {
  -webkit-transform: translateX(17px);
  -moz-transform: translateX(17px);
  -ms-transform: translateX(17px);
  -o-transform: translateX(17px);
  transform: translateX(17px); }

input:focus + .slider {
  box-shadow: 0 0 1px #E0FFE0; }

.PlayerProfile.show #player-profile-top {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background: #999;
  background: #999;
  padding-top: 5px;
  height: 25px;
  width: auto; }

.PlayerProfile.show #player-profile-bottom {
  text-align: center;
  padding-top: 10px; }

.PlayerProfile.show #buttonClose {
  text-align: center;
  border: 1px solid #730000;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #f51111;
  color: white;
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  background-color: #BA0000;
  background-image: -webkit-linear-gradient(#BA0000, #820000);
  background-image: linear-gradient(#BA0000, #820000);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #5e0000;
  background-clip: padding-box;
  height: auto;
  width: 100px;
  margin: 0 auto; }
  .PlayerProfile.show #buttonClose:hover:not(:disabled) {
    background-color: #9d0303;
    background-image: -webkit-linear-gradient(#9d0303, #730000);
    background-image: linear-gradient(#9d0303, #730000);
    box-shadow: inset 0 1px 0 0 #cc0707;
    cursor: pointer; }
  .PlayerProfile.show #buttonClose:active:not(:disabled), .PlayerProfile.show #buttonClose:focus:not(:disabled) {
    border: 1px solid #730000;
    box-shadow: inset 0 0 8px 4px #630000, inset 0 0 8px 4px #630000; }
  .PlayerProfile.show #buttonClose:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

.PlayerProfile.show #buttonClose:hover {
  cursor: pointer; }

@media only screen and (min-width: 480px) {
  #player-list {
    height: auto;
    width: 400px;
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4; }

  .PlayerProfile {
    height: 150px;
    width: 390px; }

  .PlayerProfile.show .title {
    height: auto;
    width: 50%; } }

/*# sourceMappingURL=styles.css.map */
